{# Artikelkarte · Parameter: a, root, size ('' | 'lg' | 'row') #}
{% macro karte(a, root, size='') %}
<a class="karte {{ size }}" href="{{ root }}artikel/{{ a.slug }}/" data-slug="{{ a.slug }}">
  <div class="karte-bild"><img src="{{ root }}assets/img/{{ a.bild }}{{ '' if size == 'lg' else '-thumb' }}.jpg" alt="" loading="lazy" width="{{ 1600 if size == 'lg' else 640 }}" height="{{ 1067 if size == 'lg' else 427 }}"></div>
  <div class="karte-body">
    <div class="karte-meta"><span class="ressort-tag">{{ a.ressort_name }}</span><time datetime="{{ a.datum_iso }}">{{ a.datum_de }}</time></div>
    <h3>{{ a.title }}</h3>
    {% if size != 'row' %}<p>{{ a.dek }}</p>{% endif %}
    <div class="karte-foot"><span>{{ a.lesezeit }} Min. Lesezeit</span></div>
  </div>
</a>
{% endmacro %}
{% macro liste(a, root) %}
<a class="listen-item" href="{{ root }}artikel/{{ a.slug }}/" data-slug="{{ a.slug }}">
  <img src="{{ root }}assets/img/{{ a.bild }}-thumb.jpg" alt="" loading="lazy" width="640" height="427">
  <div><span class="ressort-tag">{{ a.ressort_name }}</span><h4>{{ a.title }}</h4><time datetime="{{ a.datum_iso }}">{{ a.datum_de }}</time></div>
</a>
{% endmacro %}
